/* @import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Prompt&family=Sarabun:wght@100;200&family=Sriracha&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Prompt', 'Sarabun';
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffff;
    /* height: 10vh; */
    height: 80px;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headertop {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95%;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    color: #000;
    margin-left: 45px;
    width: 25%;
}

.horizontal {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
}
.bnt-menu{
    width: 21%;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.proflie {
    display: flex;
    align-items: center;
    justify-content: end;
    color: #000;
    margin-right: 45px;
    width: 4%;
}

a {
    color: #000;
    text-decoration: none;
}


.line {
    height: 5%;
    width: 100%;
    background-color: #F0A500;
}