@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Prompt&family=Sarabun:wght@200;300;600&family=Sriracha&display=swap');

* {
  box-sizing: border-box;
  font-family: Sarabun;
  font-weight: 600;
}
body{
  /* width: 100vw;
  height: 100vh; */
  /* padding-top: 12vh; */
  padding-top: 80px;
}

/* header {
  background-color: #ffff;
  height: 12vh;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headertop {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 95%;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  color: #000;
  margin-left: 45px;
  width: 25%;
}

.horizontal-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontal-menu li {
  display: inline-block;
}

.horizontal-menu a {
  color: #000;
  text-decoration: none;
  padding: 20px;
}


.horizontal-menu a:hover {
  color: #F0A500;
  text-decoration: none;
}

.horizontal-menu a::after {
  color: #F0A500;

}

.proflie {
  display: flex;
  align-items: center;
  justify-content: end;
  color: #000;
  margin-right: 45px;
  width: 25%;
}

a {
  color: #000;
  text-decoration: none;
}

.btn {
  border-radius: 15px;
  background-color: #F0A500;
  text-align: center;
  display: block;
  padding: 8px;
  color: #000;
  ;
  width: 40%;
  height: 40px;
  margin-right: 20px;
}

.line {
  height: 5%;
  width: 100%;
  background-color: #F0A500;
} */

